#navbar ul{
    overflow: auto;
    background-color: white;
    border-radius: 40px;
    box-shadow: 2px 2px 5px black;
    margin-right: 20px;
    height: 65px;
    width: 100%;
}


#navbar li{
    float: right;
    list-style: none;
    margin-top: 20px;
    text-align: center;
}
#navbar li a{
    padding: 20px 20px;
    text-decoration: none;
    color: rgb(122, 78, 224);
    font-family: system-ui;
}
#navbar li a:hover{
    text-shadow: 2px 2px 10px black;

}
#navbar input{
    float:inline-start;
    padding: 8px 13px;
    border-radius: 20px;
    margin:10px 2px ;
    width: 100px;
    position: absolute;
    margin-left: 30%;   
    
}
#navbar ul img{
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-top: 5px;
}
#navbar ul h2{
    position: absolute;
    padding:5px 0 5px 0;
    margin:10px;
    margin-left: 6%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
#navbar ul h2:hover{
    text-shadow: 2px 2px 15px black;
    font-size: 1.7em;
}
#navbar ul li a button{
    border-radius: 10px;
    font-weight: 1.4em;
    
}
#navbar ul li a button:hover{
    border-radius: 0px 10px 0px 10px;
    transition-duration: 1s;
    
}
.moto{
    font-family: system-ui;
    margin: 0px 0px 0px 30px;
    flex-direction: row;
    
}

#body p{
    margin-right: 20%;
    margin-top: 10px;
    font-family: system-ui;
    line-height: 10px;
    margin-bottom: 5px;
    line-height: 35px;
    color: rgb(122, 78, 224);
}
#body1 h1{
    font-size:70px;
    font-weight: 20px;
    font-family:system-ui;
    border: 2px 2px 2px 2px;
    line-height: 70px;
}
#body2 p{
    font-family: system-ui;
    line-height: 55px;
    font-size: 40px;
}
#body3 span{
    color: rgb(235, 123, 19);
    line-height: 35px;
}
#body3 p{
    line-height: 25px;
    font-size: 20px;
}
#body3 button{
    border: 5px 5px 5px 5px;
    margin-top: 15px;
    font-size: 15px;
    padding: 10PX;
    border-radius: 7px;
    font-family: system-ui;
    background-color:rgb(122, 78, 224); 
    
}

#qwer1{
    float:right;
    margin:0% 0% 0% 0%;
}
#qwer{
    float:right;
    margin:0% 5% 0% 0%;
}
.moto1 p{
    font-family: system-ui;
   color: black;
   text-align: center;
   font-size: 30px;
}
.card{
    border: 2px solid black;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    display: inline-block;
   box-shadow: 2px 2px 10px black;
   

}
#pic1{
    margin: 4px;
    border-radius: 10px;
}
#pic2{
    margin: 4px;
    border-radius: 10px;
}
#pic3{
    margin: 4px;
    border-radius: 10px;
}
#pic4{
    margin: 4px;
    border-radius: 10px;
}
#pets{
    display: flex;
    justify-content: space-evenly;
}
.moto2 h3{
    font-family: system-ui;
   color: rgb(122, 78, 224); ;
   text-align: center;
   font-size: 30px;
   
}
.card{
    border: 2px solid black;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    display: inline-block;
   box-shadow: 2px 2px 10px black;
   

}
#pic5{
    margin: 4px;
    border-radius: 10px;
}
#pic6{
    margin: 4px;
    border-radius: 10px;
}
#pic7{
    margin: 4px;
    border-radius: 10px;
}

#pets{
    display: flex;
    justify-content: space-evenly;
}
.moto2 h2{
    font-family: system-ui;
   color: black;
   text-align: center;
   font-size: 25px;
}
.card p{
    color: black;
}
.details{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 3px 3px 7px black;
   font-family: system-ui;
}
#asdf h2{
    text-align: center;
    font-size: 35px;
}
#asdfg p{
    display: grid;
    align-items: center;
    width: 1100px;
    margin-left: 110px ;
    font-size: 25px;
}
#asdfg img{
    align-items: center;
    margin-left: 240px;
}
.new #asdfg button{
    margin-top: 5px;
    margin-left: 37%;
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
    background-color: rgb(122, 78, 224);
}
.new1 #zxcv h2{
    text-align: center;
}
.new1 #zxcv p{
   
    font-size: 20px;
    width: 500px;
    margin-left: 500px;
    

}
.new1 #zxcv img{
    position: absolute;
    width: 250px;
    margin-left: 180px;
}
.new1 #zxcv ul li{
    width: 500px;
    margin-left: 500px;
    font-family: system-ui;
}
.new1 #zxcvb img{
    width: 250px;
    float: right;
    margin-right: 250px;
    
}
.new1 #zxcvb p{
    width: 500px;
    font-size: 20px;
    margin-left: 200px;
}
.new1 #zxcvb ul li{
    width: 500px;
    margin-left: 200px;
    font-family: system-ui;
}
.new1 #zxcvbn img{
    position: absolute;
    width: 220px;
    margin-left: 180px;
}
.new1 #zxcvbn ul li{
    width: 500px;
    margin-left: 500px;
    font-family: system-ui;
    line-height: 30px;
}
.new1 #zxcvbnm img{
    width: 220px;
    float: right;
    margin-right: 250px;
    
}
.new1 #zxcvbnm p{
    width: 500px;
    font-size: 20px;
    margin-left: 200px;
}
.new1 #zxcvbnm ul li{
    width: 500px;
    margin-left: 200px;
    font-family: system-ui;
    line-height: 30px;
}
.new1 #zxc img{
    position: absolute;
    width: 220px;
    margin-left: 180px;
}
.new1 #zxc ul li{
    width: 500px;
    margin-left: 500px;
    font-family: system-ui;
    line-height: 30px;
}

.foot p{
    font-size: 15px;
    color: black;
    font-family: system-ui;
}
#moto3{
    text-align: left;
}
.footer-social p{
    font-size: 10px;
    color: black;
}.new{
    font-family: system-ui;

}
.details  img{
   display: inline-block;
}
.details a{
    margin-top: 5px;
    display: inline-flex;
    text-decoration: none;
    padding-left: 5px;
    color: black;
}
.details #qwer2{
    border-radius: 50%;
    
}



   
   






